<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <!-- Header Section -->
  <div class="header">
    <h1>Contact Us</h1>
  </div>

  <!-- Main Content Section -->
  <div class="content">
    <p style="font-size: 18px;">We'd love to hear from you! Contact us through the following means:</p>
    <div class="contact-info">
      <p>Email: contact@classifieds.com</p>
      <p>Phone: +91 979 457 7168</p>
      <p>Address: 123 Classifieds Street, Mumbai,India </p>
    </div>
  </div>
   <!-- Footer Section -->
  <footer class="footer">
    <p>&copy; 2023 Classifieds Website. All rights reserved.</p>
  </footer>
</body>
</html>