<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>About Us</h1>
    </div>

    <div class="container">
        <div class="about-content">
            <h2>Welcome to Our Classifieds Website</h2>
            <p>Classy: Where quality meets convenience. Discover a curated selection of classified listings tailored to elevate your buying and selling experience</p>

            <p>Our website offers a wide range of classified ads, from electronics to clothing, furniture, and much
                more. We aim to provide a platform where users can easily find and post ads for their products or
                services.</p>

            <p>Whether you are a seller or a buyer, our platform is designed to cater to your needs, making the
                experience smooth and efficient.</p>

            <p>Thank you for using our services. For any queries or feedback, feel free to contact us.</p>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2023 Classifieds. All rights reserved.</p>
        <ul>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</body>
</html>