<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- products image tags -->

<div class="products-wrapper">
  <div class="product-container">
    <img src="assets\furniture1.jpg" alt="Furniture">
    <div class="product-details">
          

      <h3>Wooden Chair</h3>
      <h3><del class="price">$60</del>&nbsp;&nbsp;<b class="newprice">$50 only</b> </h3>

      <p>Location: ABC Street</p>
    </div>
    <div class="product-description">
      <p>Description: High-quality wooden chair</p>
    </div>
  </div>

  <div class="product-container">
    <img src="assets\furniture2.jpeg" alt="furniture">
    <div class="product-details">
    
      <h3>baker furniture</h3>
      <h3><del class="price">$50</del>&nbsp;&nbsp;<b class="newprice">$40 only</b> </h3>
      <p>Location: XYZ Mall</p>
    </div>
    <div class="product-description">
      <p>Description:Contemporary Furniture for Living and Dining | Baker Furniture</p>
    </div>
  </div>

  <div class="product-container">
    <img src="assets\furniture3.jpeg" alt="Electronics">
    <div class="product-details">
          

      <h3>Multi Table</h3>
      <h3><del class="price">$130</del>&nbsp;&nbsp;<b class="newprice">$120 only</b> </h3>

      <p>Location: Tech Store</p>
    </div>
    <div class="product-description">
      <p>Description: Latest model multi use table </p>
    </div>
  </div>

  <div class="product-container">
    <img src="assets\furniture4.jpeg" alt="Furniture">
    <div class="product-details">
          

      <h3>Wooden Chair</h3>
      <h3><del class="price">$90</del>&nbsp;&nbsp;<b class="newprice">$80 only</b> </h3>

      <p>Location: ABC Street</p>
    </div>
    <div class="product-description">
      <p>Description: High-quality wooden chair</p>
    </div>
  </div>

  <div class="product-container">
    <img src="assets\furniture5.jpeg" alt="Clothing">
    <div class="product-details">
          

      <h3>Cotton sofa</h3>
      <h3><del class="price">$80</del>&nbsp;&nbsp;<b class="newprice">$75 only</b> </h3>

      <p>Location: XYZ Mall</p>
    </div>
    <div class="product-description">
      <p>Description: Comfortable cotton sofa</p>
    </div>
  </div>
  <div class="product-container">
    <img src="assets\electronic1.jpeg" alt="Clothing">
    <div class="product-details">
          

      <h3>laptop</h3>
      <h3><del class="price">$200</del>&nbsp;&nbsp;<b class="newprice">$150 only</b> </h3>

      <p>Location: XYZ Mall</p>
    </div>
    <div class="product-description">
      <p>Description:smooth, portable laptop</p>
    </div>
  </div>

  <div class="product-container">
    <img src="assets\electronic2.jpeg" alt="Electronics">
    <div class="product-details">
          

      <h3>Speaker</h3>
      <h3><del class="price">$200</del>&nbsp;&nbsp;<b class="newprice">$150 only</b> </h3>

      <p>Location: Tech Store</p>
    </div>
    <div class="product-description">
      <p>Description: Latest model speaker</p>
    </div>
  </div>

  <div class="product-container">
    <img src="assets\electronic3.jpeg" alt="Clothing">
    <div class="product-details">
          

      <h3>PowerBank</h3>
      <h3><del class="price">$200</del>&nbsp;&nbsp;<b class="newprice">$150 only</b> </h3>

      <p>Location: XYZ Mall</p>
    </div>
    <div class="product-description">
      <p>Description: durable longlasting Powerbank</p>
    </div>
  </div>

  <div class="product-container">
    <img src="assets\electronic4.jpeg" alt="Electronics">
    <div class="product-details">
          

      <h3>Bluetooth Headset</h3>
      <h3><del class="price">$20</del>&nbsp;&nbsp;<b class="newprice">$150 only</b> </h3>

      <p>Location: Tech Store</p>
    </div>
    <div class="product-description">
      <p>Description: Latest model headset</p>
    </div>
  </div>

  <div class="product-container">
    <img src="assets\electronic5.jpeg" alt="Clothing">
    <div class="product-details">
          

      <h3>Smartphone</h3>
      <h3><del class="price">$200</del>&nbsp;&nbsp;<b class="newprice">$150 only</b> </h3>

      <p>Location: XYZ Mall</p>
    </div>
    <div class="product-description">
      <p>Description: new launch vivo model</p>
    </div>
  </div>

  <div class="product-container">
    <img src="assets\clothes1.jpeg" alt="Clothing">
    <div class="product-details">
          

      <h3>Casual shirt</h3>
      <h3><del class="price">$25</del>&nbsp;&nbsp;<b class="newprice">$17 only</b> </h3>

      <p>Location: XYZ Mall</p>
    </div>
    <div class="product-description">
      <p>Description: Comfortable cotton shirt</p>
    </div>
  </div>

  <div class="product-container">
    <img src="assets\clothes2.jpeg" alt="Clothing">
    <div class="product-details">
          

      <h3>Banarasi saree</h3>
      <h3><del class="price">$500</del>&nbsp;&nbsp;<b class="newprice">$550 only</b> </h3>

      <p>Location: XYZ Mall</p>
    </div>
    <div class="product-description">
      <p>Description: Comfortable Banarasi saree</p>
    </div>
  </div>

  <div class="product-container">
    <img src="assets\clothes5.jpeg" alt="Electronics">
    <div class="product-details">
          

      <h3>boys suits</h3>
      <h3><del class="price">$6</del>&nbsp;&nbsp;<b class="newprice">$5 only</b> </h3>

      <p>Location: Tech Store</p>
    </div>
    <div class="product-description">
      <p>Description: stylish outfit</p>
    </div>
  </div>

  <div class="product-container">
    <img src="assets\clothes4.jpeg" alt="Clothing">
    <div class="product-details">
          
      <h3>princess frock</h3>
      <h3><del class="price">$6</del>&nbsp;&nbsp;<b class="newprice">$5 only</b> </h3>

      <p>Location: XYZ Mall</p>
    </div>
    <div class="product-description">
      <p>Description:comfortable,cute,smooth girl princess outfit</p>
    </div>
  </div>

  <div class="product-container">
    <img src="assets\clothes3.jpeg" alt="Electronics">
    <div class="product-details">
          

      <h3>male pant</h3>
      <h3><del class="price">$10</del>&nbsp;&nbsp;<b class="newprice">$9 only</b> </h3>

      <p>Location: Tech Store</p>
    </div>
    <div class="product-description">
      <p>Description: stylish fashion jean </p>
    </div>
  </div>
</div>
</body>
</html>